{% extends 'base.html.twig' %}

{% block title %}Liste des commandes{% endblock %}

{% block body %}
    {% if orders is not empty %}
        <ul>
            {% for order in orders | reverse %}
                <li><a href="{{ path('orders_get', {'id': order.id }) }}">#{{ order.id }} le {{ order.date | date("m/d/Y H:i", "Europe/Paris") }} - {{ order.total | format_currency('EUR', locale = 'fr') }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        Aucune commande
    {% endif %}
{% endblock %}
